@model IEnumerable<QuanLyDienThoai.Models.product>
@{
    ViewBag.Title = "Index";
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    @* Chèn link css template có sẵn *@
    <link href="~/Content/cssUserLayout/style.css" rel="stylesheet" />
    <style>
        div#navigation {
            display: flex;
            justify-content: center;
        }
        p.themmoi {
            padding: 0 90px;
        }
        .themmoi a {
            background-color: forestgreen;
            color: whitesmoke;
            padding: 10px 10px;
        }
        table.table {
            margin: 0 190px;
            width: 70%;
            background-color: #FFFFCC;
        }
        .themmoi a:hover {
            background-color: white;
            color: forestgreen;
            text-decoration: none;
        }
        div#contents {
            margin-bottom: 50px;
        }
        .btn-xuly a {
            background-color: red;
            color: white;
            padding: 7px;
            text-decoration: none;
        }

            .btn-xuly a:hover {
                background-color: #FFFFCC;
                color: black;
                padding: 7px;
                text-decoration: none;
            }


    </style>
</head>
<body>
    <div id="background">
        <div id="page">
            <div id="header">
                <div id="navigation">
                    <ul>
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li>@Html.ActionLink("Quản lý nhà sản xuất", "Index", "Brand")</li>
                                <li>@Html.ActionLink("Quản lý sản phẩm", "Index", "Product")</li>
                            </ul>
                        </div>

                    </ul>
                </div>
            </div>
            <br />
            <br />
            <div id="contents">
                <p class="themmoi">
                    @Html.ActionLink("Create New", "Create")
                </p>

                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.id_product)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.name_product)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.images)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.price)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.quantity)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.brandID)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.id_product)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.name_product)
                    </td>
                    <th>
                        @Html.DisplayFor(modelItem => item.images)
                    </th>
                    <th>
                        @Html.DisplayFor(modelItem => item.description)
                    </th>
                    <th>
                        @Html.DisplayFor(modelItem => item.price)
                    </th>
                    <th>
                        @Html.DisplayFor(modelItem => item.quantity)
                    </th>
                    <th>
                        @Html.DisplayFor(modelItem => item.brandID)
                    </th>
                    <td>
                        <div class="btn-xuly">
                            @Html.ActionLink("Edit", "Edit", new { id = item.id_product })
                            @Html.ActionLink("Delete", "Delete", new { id = item.id_product })
                        </div>
                    </td>
                </tr>
                    }

                </table>
            </div>
        </div>
    </div>
    
</body>
</html>





